# Database
MONGODB_URI=
MONGODB_DB=asfakul-siam

# Authentication
AUTH_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email
RESEND_API_KEY=
RESEND_FROM=
